[submodule "linux/source"]
	path = linux/source
	url = https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
	branch = linux-4.3.y
[submodule "qemu/source"]
	path = qemu/source
	url = https://gitlab.com/qemu-project/qemu
	branch = stable-6.0
